Repository jusunglee/mta-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-vet, go-build, go-test-fast

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w
  - -s
  description: Formats Go code using gofmt

go-imports:
  name: Go Imports
  entry: goimports
  language: system
  args:
  - -w
  description: Organizes Go imports

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false
  description: Ensures go.mod and go.sum are up to date

go-vet:
  name: Go Vet
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false
  description: Reports suspicious constructs in Go code

go-build:
  name: Go Build
  entry: bash
  language: system
  args:
  - -c
  - go build ./cmd/server && go build ./cmd/local
  pass_filenames: false
  description: Ensures the code builds successfully

go-test-fast:
  name: Go Test (Fast)
  entry: go
  language: system
  args:
  - test
  - -short
  - ./...
  pass_filenames: false
  description: Runs fast Go tests (skips slow integration tests)

Smaller file
  internal/feed/testdata/gtfs_supplemented/stop_times.txt
Due: none

lfs
  .gitattributes
  .githooks/pre-commit
  internal/feed/testdata/gtfs_subway/stop_times.txt
  internal/feed/testdata/gtfs_supplemented/stop_times.txt
Due: none

gitignore binaries
  .gitignore
Due: none

gofmt
  api/handlers/handler.go
  api/handlers/handler_test.go
  cmd/local/main.go
  cmd/server/main.go
  internal/feed/feed.go
  internal/feed/feed_test.go
  internal/feed/gtfsrt_test.go
  internal/feed/testdata.go
Due: go-fmt, go-imports, go-vet, go-build, go-test-fast

pre commit hook for gofmt
  .pre-commit-config.yaml
Due: none

update README
  README.md
Due: none

go mod tidy
  go.mod
  go.sum
Due: go-mod-tidy

Fix CI test failures by enabling Git LFS checkout
  .github/workflows/ci.yml
Due: none

Fix remaining CI checkout steps to enable Git LFS
  .github/workflows/ci.yml
Due: none

Fix CI linting and security scan issues
  .github/workflows/ci.yml
  api/handlers/handler.go
  go.mod
  go.sum
  internal/feed/feed.go
Due: go-fmt, go-imports, go-mod-tidy, go-vet, go-build, go-test-fast

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  go-vet: any of: \.go$
  go-build: any of: \.go$
  go-test-fast: any of: \.go$
